extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body

		.header
		.loaderBase
			.lds-eclipse
				.spinner
				.spinner.reverse

		.body
			section#local1.sec1.local.local1(local=1)
				.base
					.baseCenter.animated.fadeInUp.delay2
						h2.mt0 TREINAMENTO ANUAL DE COMPLIANCE
						
				
					.containerTxt.wow.fadeInUp.delay3
						.text.par1.white 
							| Na AstraZeneca, <b>colocar os pacientes em primeiro lugar</b> significa agir com integridade em nossas <b>decisões</b> e <b>relacionamentos ligados ao negócio</b>.
						.text.text1.mt1.par2.white 
							| Este treinamento foi desenvolvido para apoiarmos os times na construção de uma <b>cultura ética e capaz de sustentar o crescimento com responsabilidade</b>.
						.text.text1.mt1.white 
							| Diante de desafios como <b>maior fiscalização</b>, <b>concorrência local</b> e <b>expansão das atividades promocionais</b>, é essencial que todos estejam preparados para tomar decisões baseadas em nossos princípios para <b>proteger a reputação da AstraZeneca</b> e <b>garantir a segurança dos nossos pacientes</b>.
						.text.text1.mt1.white 
							| No treinamento, vamos abordar os <b>principais riscos que impactam nossas operações</b>, como: suborno, corrupção, promoção off label, privacidade de dados, fraude, concorrência e propriedade intelectual. E oferecer, claro, <b>ferramentas práticas para mitigá-los</b>.
						.text.text1.mt1.white
							| <b>Afinal, Compliance é responsabilidade de todos. </b>
						.text.text1.mt1.white
							| Vamos aproveitar esse momento para reforçar o nosso compromisso com a Ética, a Transparência e a Excelência.
						
						.barra
						img.img1.wow.fadeInUp.delay3(src="../../assets/img/2025b/section01.png", alt="")
						img.img2.wow.zoomIn.delay5(src="../../assets/img/2025b/section01b.png", alt="")
						
					
					.containerTxt.containerTxt2.wow.fadeInUp.delay3
						h2.azul
							| DESAFIOS ENFRENTADOS
						.text.text1.mt1.roxo.bold 
							| Aumento da Fiscalização Governamental
						.text.text1 
							| Enfrentamos uma concorrência intensa de grandes empresas locais que podem se beneficiar de maior apoio governamental.

						.text.text1.mt1.roxo.bold 
							| Necessidade de Capacidades e Talentos
						.text.text1 
							| O crescimento dos nossos negócios exige mais capacidades e talentos, incluindo liderança empresarial e gestão de riscos, para enfrentar os desafios futuros.
						
						.text.text1.mt1.roxo.bold 
							| Crescimento das Atividades Promocionais e Projetos Inovadores
						.text.text1 
							| O aumento dessas atividades traz o desafio de gerenciá-las de forma eficaz e monitorar os riscos associados.
						
						.text.text1.mt1.roxo.bold 
							| Colaboração com Parceiros do Ecossistema
						.text.text1 
							| O envolvimento com terceiros, especialmente em iniciativas como o <b>Transform Care</b>, implica na gestão de riscos adicionais.


						.player
							button.openModal.pulse(mod="modalGeral1") 
								img.wow.zoomIn(src="../../assets/img/2025b/section01c.png", alt="")
			
			.modalBase.modalGeral.modalGeral1.wow.fadeIn
				.modalBaseData
					video(src="../../assets/video/video1.mp4" controls controlsList="nodownload"  poster="../../assets/video/video1.png")
					button.close-btn.modal-close.pulse 
						img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
							
				
			//- .secRef
			section#local2.sec2.atB.at01.local.local2(local=2)
				img.img1.wow.fadeInUp.delay3(src="../../assets/img/2025b/section02.png", alt="")
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h2
							| ANÁLISE DE RISCOS
						.text.white.mt1
							| Fundamental para garantir decisões éticas e alinhadas aos valores da AZB. Para orientar esse processo, utilizamos quatro princípios-chave, os chamados '4Ps', que servem como reflexão para avaliar dilemas e tomar decisões responsáveis. Clique para conhecê-los:


				
					<div class="flipcards wow fadeInUp">
						<div class="flipcard flipcard--red">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>1</h1>
								</div>
								<div class="__back">
									h4 Propósito
									p Está alinhado com nossos valores? Essa decisão pode impactar nossa reputação como empresa?
									h1 1
								</div>
							</div>
						</div>
						<div class="flipcard flipcard--blue">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>2</h1>
								</div>
								<div class="__back">
									h4 Política
									p É legal e está em conformidade? É permitido pelas nossas Políticas e Procedimentos e pelas leis locais?
									h1 2
								</div>
							</div>
						</div>
						<div class="flipcard flipcard--yellow">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>3</h1>
								</div>
								<div class="__back">
									h4 Percepção
									p Preciso de mais informações para tomar uma decisão consciente?
									h1 3
								</div>
							</div>
						</div>
						<div class="flipcard flipcard--yellow">
							<div class="flipcard__inner">
								<div class="__front">
									<h1>4</h1>
								</div>
								<div class="__back">
									h4 Processo
									p Sei qual processo devo seguir?
									h1 4
								</div>
							</div>
						</div>
					</div>

				.text.white.wow.fadeInUp
						| Importante considerar também nas decisões o time da primeira linha de defesa, profissionais responsáveis pela avaliação e gestão contínua de riscos, controles operacionais do dia a dia, documentação e identificação de riscos.
				.text.white.mt1.wow.fadeInUp
						| Assim, podemos pensar também em 3 diretrizes, clique para conhecê-las:
				
				.its.itsDSFD
					.it.wow.fadeInUp
						img.wow.zoomIn(src="../../assets/img/2025b/section02b.png", alt="")
						.infB 1
						.intT.wow.zoomIn Cumprir as leis e regulamentações locais, bem como os padrões éticos globais.
					.it.wow.fadeInUp
						img.wow.zoomIn(src="../../assets/img/2025b/section02b.png", alt="")
						.infB 2
						.intT.wow.zoomIn Fazer uma breve pausa, diante de um dilema, para refletir sobre as questões apresentadas pelos 4Ps.
					.it.wow.fadeInUp.it3
						img.wow.zoomIn(src="../../assets/img/2025b/section02b.png", alt="")
						.infB 3
						.intT.wow.zoomIn A primeira linha de defesa é sempre a melhor opção.




						
			section#local3.info.info2.wow.fadeInUp.atB.at02.local.local3(local=3)
				.title
					h2.mt0.mb0.roxo PRINCIPAIS RISCOS
					.text.bold Vamos conhecer os temas mais sensíveis e recorrentes em nosso negócio.
				
				.blockDF.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section03.png", alt="")
					.basCont
						.titlD Suborno e corrupção
						.content
							.text.azul.bold Envolvem o uso de algo de valor para influenciar indevidamente uma pessoa em posição de poder ou confiança pública.
							.text.mt1.rosa.bold Principais stakeholders:
							ul 
								li Profissionais de saúde (HCP), farmacêuticos, enfermeiros e agentes públicos.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Não tolerar suborno ou outras formas de corrupção em nenhuma circunstância.
								li Não oferecer nem aceitar subornos, tampouco permitir que terceiros o façam em nosso nome.
								li Garantir que as interações externas estejam em conformidade com o valor justo de mercado (FMV), com transparência nas despesas e razoabilidade.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Interações com o governo, interações com potenciais parceiros de negócios, pagamento por serviços (Fee for Service), viagens e entretenimento. Por exemplo: presentes, hospitalidade excessiva (incluindo refeições), financiamento externo, P&D (interação direta com hospitais), pesquisa de mercado e compra de mídia (promoção de conteúdo individual de HCPs na mídia), bônus e descontos para distribuidores.

				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS.imgSD(src="../../assets/img/2025b/section04.png", alt="")
					.basCont
						.titlD Promoção off label
						.content
							.text.azul.bold Marketing ou promoção de um medicamento para utilizações não aprovadas pela Anvisa.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Todas as declarações sobre nossos produtos devem ser precisas, completas, justas e respaldadas por evidências científicas, e os produtos só podem ser promovidos para os usos aprovados.
								li Materiais e atividades devem ser aprovados por meio dos procedimentos locais antes de serem utilizados.
								li Não fornecer aconselhamento médico.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Atividades de screening e diagnóstico (Dx), programas de acesso expandido (EAP), programas de importação, atividades pré-lançamento, redes sociais, financiamento externo, entre outros.
				
				.blockDF.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section05.png", alt="")
					.basCont
						.titlD Proteção de dados
						.content
							.text.azul.bold Respeitamos e protegemos a privacidade ao coletar, utilizar, armazenar, compartilhar e/ou divulgar dados pessoais de forma justa, transparente e segura.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Seguir rigorosamente as leis e regulamentações, bem como os padrões e processos de gestão da AZ para privacidade e segurança de dados.
								li O tratamento de dados pessoais deve atender a necessidades legítimas de negócios, com base em consentimento individual ou interesse legítimo.
								li Os métodos de processamento de dados devem ser justos, legais, transparentes e seguir os princípios de minimização, precisão e tratamento seguro.
								li Transferências internacionais de dados e transferências para terceiros devem estar em conformidade com as leis e regulamentações.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Ferramentas digitais, Programas de Suporte ao Paciente (PSPs), Programas de Acesso ao Paciente (PAPs), atividades de screening e diagnóstico, programas Transform Care e estudos clínicos.

				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section06.png", alt="")
					.basCont
						.titlD Fraude
						.content
							.text.azul.bold Fraude é geralmente definida como engano ilícito ou criminoso com o objetivo de obter ganho financeiro ou pessoal.
							.text.mt1.rosa.bold Principais stakeholders:
							ul 
								li Profissionais de saúde (HCP), farmacêuticos, enfermeiros e agentes públicos.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Não se envolver em nenhuma forma de falsificação, fraude ou apropriação indébita.
								li Todas as atividades e documentos devem ser genuínos. Não são permitidos pagamentos excessivos para fins indevidos.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Programas de Suporte ao Paciente (PSP), seguros comerciais, viagens, despesas e gestão do fluxo de vendas

				.blockDF.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section07.png", alt="")
					.basCont
						.titlD Antitruste (anticoncorrência)
						.content
							.text.azul.bold Devemos sempre cumprir as leis e regulamentações de concorrência (antitruste) para evitar acordos que restrinjam a competição, abusos de posição dominante(poder de mercado) ou manipulação de preços.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Competir de forma justa com base nos méritos dos nossos produtos.
								li Operar de forma independente no mercado e ter cautela em todas as comunicações diretas e indiretas com concorrentes. 
								li Garantir que nós e terceiros definamos os preços dos produtos de forma independente e que o engajamento com concorrentes ocorra apenas razões comerciais legítimas.
								li Buscar orientação jurídica, por exemplo, ao realizar transações com concorrentes.
							.text.mt1.rosa.bold Atividades de Alto Risco:
							ul 
								li Interações com concorrentes (incluindo parceiros de BD concorrentes) que não tenham propósito legítimo de negócios, estratégias de LOE que excluam injustamente genéricos/biossimilares, acordos que sustentem preços artificialmente elevados (por exemplo, com distribuidores ou redes de farmácias).

				.blockDF.blockDFInverte.wow.fadeInUp
					img.imgS(src="../../assets/img/2025b/section08.png", alt="")
					.basCont
						.titlD Riscos de Propriedade Intelectual (PI)
						.content
							.text.azul.bold Os riscos de PI existem em diversas formas, desde a apropriação indevida de segredos comerciais por ex-colaboradores até desafios genéricos a patentes que protegem os principais produtos da empresa. Esses riscos estão presentes, muitas vezes de forma discreta, em várias atividades empresariais como planejamento e desenvolvimento de negócios, estudos clínicos, inovações digitais e comercialização.
							.text.mt1.rosa.bold Princípio/Mitigação:
							ul 
								li Envolver a equipe de PI para identificar, avaliar e mitigar riscos potenciais de PI desde o início, antes de iniciar um projeto empresarial (por exemplo, projeção de LOE, estudo clínico, inovação digital com terceiros).
								li Os riscos de PI muitas vezes não são evidentes e são complexos de analisar. A identificação precoce desses riscos, aliada a uma estratégia sólida de PI, é fundamental para mitigá-los ou evitá-los.
								li Embora alguns riscos de PI possam ser mitigados (por exemplo, por meio de acordos com terceiros), outros não são passíveis de mitigação posterior.
								li As decisões de negócios devem ser tomadas considerando cuidadosamente os riscos de PI envolvidos.


				.blockDFG.wow.fadeInUp
					img.imgS.imgSAA(src="../../assets/img/2025b/section09.png", alt="")
					.basCont
						.titlD.bold.azul PRINCIPAIS ATIVIDADES x POTENCIAIS RISCOS
						.content
							.text.azul2 Para facilitar sua avaliação, criamos uma tabela que mostra nossas principais atividades, projetos e investimentos, com os potenciais riscos identificados.
							img.tabela(src="../../assets/img/2025b/tabela.png", alt="")
							small.subt.azul2 (1) As atividades de implementação pós-acordo podem coincidir amplamente com aquelas descritas nos itens 1 a 14 acima e, portanto, ao identificar riscos nesta página para o item 15 (Desenvolvimento de Negócios), os riscos associados às atividades de implementação pós-acordo não são o foco principal.
		
				.sec12.wow.fadeInUp
					
					.info.wow.fadeInUp
						.sec2_block01.wow.fadeInUp
							h4.prop-l1
								| <b>DESAFIO COMPLIANCE</b>
						img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025b/section10.png", alt="")

						.line.wow.fadeInUp
							
							.infoSeta
								.text.azul.bold.arrasteInfo Arraste o número do risco provável para sua ação de mitigação associada:
								

						.arrasteExercicio.arrasteExercicio5.wow.fadeInUp(arraste=5, exer=3, end=1)
							.arrasteExercicioBase
								.itCons
									.itContainer
										.containTxt Amostras deixadas expostas no veículo, ou sem supervisão, durante visita <br>ao médico. 
										.it.it1.dragDrop_element(arraste=1) 
											img(src="../../assets/img/2025/sec02_it1.svg", alt="")
									.itContainer
										.containTxt Entrega de amostras com data de vencimento inferior a 90 dias.
										.it.it2.dragDrop_element(arraste=2) 
											img(src="../../assets/img/2025/sec02_it2.svg", alt="")
									.itContainer
										.containTxt Carregamento excessivo de amostras ultrapassando a entrega de um <br>dia de visitas.
										.it.it3.dragDrop_element(arraste=3)
											img(src="../../assets/img/2025/sec02_it3.svg", alt="")
									.itContainer
										.containTxt Amostras armazenadas ao lado de produtos <br>de limpeza.
										.it.it4.dragDrop_element(arraste=4)
											img(src="../../assets/img/2025/sec02_it4.svg", alt="")
									.itContainer
										.containTxt Amostras armazenadas em garagem, sem sua supervisão, e vulneráveis aos <br>insetos e à sujeira.
										.it.it5.dragDrop_element(arraste=5)
											img(src="../../assets/img/2025/sec02_it5.svg", alt="")
									

								.contCons
									.contContainer
										.cont.dragDrop_element(alvo=5)
											img(src="../../assets/img/2025/sec13d.png", alt="")
									.contContainer
										.cont.dragDrop_element(alvo=2)
											img(src="../../assets/img/2025/sec13a.png", alt="")
									.contContainer
										.cont.dragDrop_element(alvo=4)
											img(src="../../assets/img/2025/sec13b.png", alt="")
									.contContainer
										.cont.dragDrop_element(alvo=1)
											img(src="../../assets/img/2025/sec13e.png", alt="")
									.contContainer
										.cont.dragDrop_element(alvo=3)
											img(src="../../assets/img/2025/sec13c.png", alt="")
									
									
											

							butom.confirmar.mt2.wow.fadeInUp
								| <span>Clique</span> para conferir.

							.feed.feed-pos.wow.fadeInUp
								img(src="../../assets/img/2025/sec02_check.svg", alt="")
								.text.text4
									| <span class="bold">Você associou corretamente os textos às imagens, identificando com precisão as situações de risco no cuidado, armazenamento e manuseio das amostras grátis. Esse olhar atento é essencial para garantir boas práticas e segurança no dia a dia. Continue assim!</span>
							
							.feed.feed-neg.wow.fadeInUp
								img(src="../../assets/img/2025/sec02_neg.svg", alt="")
								.text.text4
									| <span class="bold vermelho">Humm... teve alguns erros :(. Dê uma olhada na ordem correta.</span>
							
							.infoFinish.wow.fadeInUp.delay2 Você concluiu o Treinamento Anual de Amostras Grátis.
					
			

block scripts
	script(src="../../vendor/wow.min.js")
	script(src="script.js")
